<% @movie.vines.each do |v| %>
<div data-id='<%=v.id%>' class="col-md-3">
  <%= video_tag(v.video_url, :'data-id' => v.id, muted:true, preload: true) %>
  <%= button_to "Delete", movie_vine_path(@movie, v), method: :delete, remote: true, class: "btn btn-meflat icon-left btn-centered" %>
</div>
<% end %>