<% content_for(:page_header) {"VineCorpse"}%>
<h3>Make dope videos <em><strong> with vines </strong> </em></h3>
<%= form_tag(search_path, method: 'get') do  %>
 <%= label_tag("Find Vines:") %> <br>
 <%= text_field_tag(:tag, "dogs in sweaters!") %>
 <%= submit_tag("Search") %>
<% end %>

<video id="video" type="video/mp4" preload="auto" src="http://mtc.cdn.vine.co/r/videos/3AB6D2EB881147000361383788544_109087e8457.3.2.mp4?versionId=kM3uOGA3tDvGUgn1YOJhJbYPjvyK42jN"></video>

<video id="video" type="video/mp4" preload="auto" src="http://mtc.cdn.vine.co/r/videos/9E4B607E3D1147189626063491072_3c0c6a972b7.0.1.15411823243570642344.mp4?versionId=UEolk4rDfyvf5fbpAt89992c0I6FyjNB"></video>

<video id="video" type="video/mp4" preload="auto" src="http://v.cdn.vine.co/r/videos/A783BA2F0B1147172632316567552_32eb329de94.0.1.17603988906933582763.mp4?versionId=JDHr7f4M8JSIlgXMDVXSW.hZt8Ki0MkU"></video>

