// Place all the styles related to the Vines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//= depend_on_asset "volume_v2_off.png"
//= depend_on_asset "volume_v2_on.png"

video {
  width: 259px;
  height: 284px;
}

.reel {
  position: relative;
}

.reel video, .reel-index video {
  width: 365px;
  height :365px;
}

.clips video {
  width: 275px;
  height: 284px;
}

.volume-off {
  background: asset-url('volume_v2_off.png') no-repeat;
}


.volume-on {
  background: asset-url('volume_v2_on.png') no-repeat;
}

.reel-clip-volume {
  position: absolute;
  top:15px;
  left:15px;
  width: 40px;
  height:30px;
  z-index:20;
}

.reel-clip-volume:hover {
  opacity: 1.0
}

.controls-inactive {
  opacity: 0.1
}

.controls-active {
  opacity: 1.0
}