// Place all the styles related to the Vines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

video {
  width: 259px;
  height: 284px;
}

.reel video {
  width: 400px;
  height :400px;
}

.clips video {
  width: 270px;
  height: 284px;
}